a{
	color: #0e4e6f;
	text-decoration: blink;
}
a:hover{
	color: green;
}
.enano a {
	color: red;
	font-size: 14px;
}
.navbar-ninja {
	margin: 0 50px;
    display: unset;
}
.nav-ninja{
	color: blue;
	background-color: #e4dbdb;
    padding: 5px 10px;
	font-size: 20px;
	margin: 5px 20px;
	border-radius: 10px 10px 12px 12px;
	font-weight: bold;
	text-decoration: dashed;
}

.ribbon {
    width: 0px;
    height: 120px;
    border-left: 30px solid #4fb3d9;
    border-right: 30px solid #4fb3d9;
    /*border-bottom: 15px solid transparent;*/
}