.navbar-ninja {
	margin: 0 50px;
    display: unset;
}
.nav-ninja{
	color: blue;
	background-color: #e4dbdb;
    padding: 5px 10px;
	font-size: 20px;
	margin: 5px 20px;
	border-radius: 10px 10px 2px 2px;
	font-weight: bold;
	text-decoration: dashed;
}

.ribbon {
    width: 0px;
    height: 120px;
    border-left: 40px solid #4fb3d9;
    border-right: 40px solid #4fb3d9;
    /*border-bottom: 15px solid transparent;*/
}