{% extends "base.html" %}

{% block title %} USERS {% endblock %}

{% block content %}
	<div class="wrapper">
		<h1>Iniciar Sesión</h1>
		<div class="accounts">
			<form 
			action="{% url 'accounts:login' %}" 
			method="POST" 
			enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.as_p }}
				{% if request.GET.next %}
				<input type="hidden" name="next" value="{{request.GET.next}}">
				{% endif%}
				<button type="submit">Iniciar Sesión</button>
			</form>
		</div>
		No estas registrado?
		<a href="{% url 'accounts:signup'%}">Registrate</a>
		<br>
		<a href="{% url 'home'%}">Regresar al Home</a>
	</div>
{% endblock content %}