{% extends "base.html" %}

{% block title %} ARTICLES {% endblock %}

{% block content %}
	<div>
		<h1>Detalles del Artículo</h1>
		<div class="articles">
			<h2> 
				<a href="{% url 'articles:update' id=article.id %}"> {{ article.title }} </a> 
				<small class="enano"> <a href="{% url 'articles:delete' id=article.id %}"> Eliminar </a>  </small>
			</h2>
			<p> {{ article.body }} </p>
			<p>Fecha de creación: {{ article.date }}</p>
			<p>Fecha de creación: {{ article.updated }}</p>
		</div>
		<a href="{% url 'articles:list'%}">Regresar a la lista de Artículos</a>
	</div>
{% endblock content %}